<article class="booking-modal-row" id="modal-booking-{{ linked_booking.booking_id }}">
  <div class="booking-modal-row-main">
    <div class="booking-modal-offer">
      <div class="timeline-offer-main">
        {% set offer = booking_row_summary(linked_booking, anchor_date=trip_instance.anchor_date).booked_offer %}
        {% include "partials/booking_offer_body.html" %}
      </div>
    </div>
    <div class="booking-modal-actions">
      {% include "partials/booking_row_actions.html" %}
    </div>
  </div>
  {% if route_tracking.warning %}
  <div class="timeline-row-footer">
    {% include "partials/booking_warning_footer.html" %}
  </div>
  {% endif %}
</article>
